* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.a-enter-vr-button {
    display: none !important;
}

.splash-screen{
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-screen p{
    color: aliceblue;
    font-size: 30px;
    padding-bottom: 30px;
}

.splash-screen small{
    color: indianred;
    font-size: 10px;
    padding-bottom: 30px;
    text-transform: uppercase;
    line-height: 2;
}

.splash-screen button{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    width: 100% !important;
    height: 60px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: center; 
    align-items: center; 

    transition: background-color 0.5s ease-in-out;
    line-height: 1.1 !important;
}

.cta{
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 30px;
}

.cta button{
    background-color: #1a1a1a;;
    color: aliceblue;
    width: 100% !important;
    height: 60px;
    border-radius: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: center; 
    align-items: center; 

    transition: background-color 0.5s ease-in-out;
    line-height: 1.1 !important;
}